body {
  background-color: #03254c;
  color: #fff;
  text-align: center;
}
.flex-box {
  display: flex;
}
#menu-btn-box {
  min-width: 20px;
  flex-grow: 1;
}
#auth-box {
  min-width: 40px;
  flex-grow: 1;
}
.menu-box {
  display: none;
}
#academic:focus,
#academic-box {
  display: block;
}
