<!DOCTYPE html>
<html lang="e">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, nitial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/asset/style.css" /> -->
    <title>Document</title>
    <!-- For PWA(progressive web app) installable -->
    <!-- <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/icon.png" /> -->
  </head>
  <body>
    <%= require('html-loader!./../../header_nav.html').default %>
    <h4>Pythagorus theorem</h4>
    <%= require('html-loader!./../../footer.html').default %>
  </body>
</html>
