<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tricks in Number Theory</title>
    <!-- <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
    ></script> -->
  </head>
  <body>
    <%= require('html-loader!./../../header_nav.html').default %>
    <!-- <script src="/script/container.js"></script> -->

    <div class="slides">
      <h2>Divide</h2>
      <p>
        Let $ a $ and $b$ be any two integers with $a \ne 0$. Then $a$ is said
        to divide $b$ if there is an integer $c$ such that $b= a c$. <br />
        Then we write $$a \mid b$$ e.g. $2 \mid 8$ because $8 = 2 \times 4$
      </p>
    </div>

    <div class="slides">
      <h2>Linear Diophantine Equations</h2>
      <p>
        A linear equation $ax+by =c$ with $a \ne 0$ and $b \ne 0$ is called a
        Linear Diophantine Equation in two unknowns $x$ and $y$. For example,
        $$\begin{aligned} 5x-4y &= 21 \\ 170x-455y &= 635\\ 256x + 1166y &= 4
        \end{aligned}$$
      </p>
    </div>
    <div class="slides">
      <h2>Solving Linear Diophantine Equation</h2>
      <p>
        We can guess the solution of some linear Diophantine equation. <br />
        For example, $$5x- 4y = 21$$ has solutions $$ \begin{aligned} x = 5,
        \hspace{2em} y &= 1 \\ x = 1, \hspace{2em} y &= -4 \\ x = 9,\hspace{2em}
        y &= 6 \end{aligned} $$
      </p>
    </div>

    <div class="slides">
      <h2>Theorem</h2>
      <p>
        Let $a$ and $b$ be any non-zero integers and $d=(a,b)$. The linear
        Diophantine equation $ax+by=c$ has a solution if and only if $d \mid c$.
        If there is a solution, say $X$ and $Y$, then any other solution is the
        form of $x= X - \frac{b}{d}t$ and $y= Y - \frac{a}{d}t$, $t$ being an
        integer.
      </p>
      <p>
        In previous example $5x- 4y = 21$, we have $a = 5$, $b=-4$ and
        $d=(a,b)=1$. Thus this theorem says that equation has solutions because
        $1 \mid c$ which is equal to $21$.
      </p>
    </div>

    <div class="slides">
      <h2>Solve $ 170x -455y = 625 $</h2>
      <p>
        Now let's try the problem more difficult to solve. First we have to
        check the given Diophantine Equation. To do so, we need to find
        $(170,455)$, the greatest common divisor of $170$ and $455$. If $(170,
        455) \mid 625$, we know that the given Diophantine Equation has solution
        and we have to find it. To be able to find the soltion of Diophantine
        Equation, let's find $(170,455)$ in the following ways.
        $$\begin{aligned} 455 &= 170 \times 2 + 115 \\ 170 &= 115 \times 1 +
        55\\ 115 &= 55 \times 2 +5 \\ 55 &= 5 \times 11 \end{aligned}$$ Now we
        get the g.c.d of $170$ and $455$, which is equal to $5$. Since $5 \mid
        625$, we know that the given diophantine has solutions. To get the
        solution, find the expression of $5$ in terms of $455$ and $170$. This
        can be easily done by undoing the above equations. $$ \begin{aligned} 5
        &= 115 - 55 \times 2 \\ 5 &= 115 - (170 - 115 \times 1) \times 2\\ 5 &=
        115 - 170 \times 2 + 115 \times 2\\ 5 &= 170 \times (-2) + 115 \times
        3\\ 5 &= 170 \times (-2) + (455 - 170 \times 2) \times 3\\ 5 &= 170
        \times (-2) + 455 \times 3 + 170 \times (-6) \\ 5 &= 455 \times 3 + 170
        \times (-8) \end{aligned} $$ Unfortunately, we are not finding the
        solution of $455 x + 170 y = 5$. But we are finding the solution of
        $455x+170y = 625$. So we have to multiply both sides of equation by
        $125$. And we get $$455 \times 375 + 170 \times (-1000) = 625$$ Thus
        $375$ and $-1000$ is the solution of the linear diophantine equation.
        Hence the solutions of the given diophantine equation are in the form of
        $
      </p>
    </div>
    <%= require('html-loader!./../../footer.html').default %>
  </body>
</html>
